<h4>
    We have sent an email with a
    follow up Code for you to your Email address. 
</h4>

<div class="col d-flex justify-content-center">
    <a asp-action="index" asp-controller="home"
       class="btn btn-primary mb-3" style="width:auto">
        Go Back To Home Page
    </a>
</div>